.quiz-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background: #EAE4F1;
  width: 1135px;
  /* height: 500px; */
  padding: 20px 20px 30px 20px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0px 8px 16px rgba(137, 176, 175, 0.25);
}

.mult-question {
  background-color: indianred;
  padding: 20px;
  border-radius: 20px;
}

.mult-option {
  margin-bottom: .25em;
}

input[type=radio] {
  border: 0px;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.question-bar {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;

  justify-content: space-around;
}

.clickable {
  cursor: pointer;
}