.endorsersList {

  list-style-type: none;
  margin: 0;
  padding: 0px 0px 50px 0px;
  overflow: hidden;
  margin-left: 3%;

}

.endorser {
    float: left;
    padding: 5px;
    margin: 10px;
    background-color: #eae5ff;
    border-radius: 50%;
    width: 105px;
    height: 105px;
}

.endorserProfilePicture {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    object-fit: cover;

}

.endorserName {
    text-align: center;
    font-family: OpenSans;
    font-size: 18px;

}