.endorsed-course-card {
    /* padding: 10px; */
    padding: 30px 20px;
    margin-bottom: 10px;
    margin-top: 25px;
    border-radius: 6px;
    background-color: #e6d8f7;
    min-width: 420px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    font-family: OpenSans;
    text-align: center;
    background-image: url("../../StudentDashboard/DashboardCourseCard/DashboardCourseCardBG.svg");
}